@inject IHttpContextAccessor ContextAccessor;
@inject HomeService HomeService;

@using URLShortener.WebApi.Enums
@using URLShortener.WebApi.Services

@model URLShortener.WebApi.Data.Dtos.AboutDto

@{
    ViewData["Title"] = "About us";
    
    var userRole = ContextAccessor.HttpContext.Session.GetString("Role");
    var aboutDto = await HomeService.GetAbout();
}
<h1>@ViewData["Title"]</h1>

<p>@aboutDto.Text</p>

<div class="row">
    <div class="col-md-4">
        @if (userRole == UserRoles.Admin.ToString())
        {
            <form asp-action="Edit">
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary"/>
                </div>
            </form>
            <div>
                <a asp-action="Reset">Reset to default</a>
            </div>
        }
    </div>
</div>